@charset "utf-8";
.container-fluid {
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,1.00) 47.46%,rgba(249,241,241,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,1.00) 47.46%,rgba(249,241,241,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,1.00) 47.46%,rgba(249,241,241,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,1.00) 47.46%,rgba(249,241,241,1.00) 100%);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
	background-color: #95D1EF;
	background-image: -webkit-linear-gradient(270deg,rgba(194,233,252,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(194,233,252,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(194,233,252,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(194,233,252,1.00) 100%,rgba(255,0,0,1.00) 100%);
}
.card.col-md-4.col-xl-12 .card-body .btn.btn-primary {
	background-image: -webkit-linear-gradient(270deg,rgba(194,233,252,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(194,233,252,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(194,233,252,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(194,233,252,1.00) 100%,rgba(255,0,0,1.00) 100%);
	-webkit-box-shadow: 0px 0px #8E8300;
	box-shadow: 0px 0px #8E8300;
	color: #8E8300;
}

.navbar-nav.mr-auto .nav-item .nav-link {
	color: #8E8300;
}
#map {
	margin-left: auto;
	margin-right: auto;

}
iframe {
}


.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
	background-image: -webkit-linear-gradient(270deg,rgba(149,204,245,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(149,204,245,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(149,204,245,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(149,204,245,1.00) 100%,rgba(255,0,0,1.00) 100%);
}
